<div class="container">

  <div *ngIf="!showFinal" class="d-flex justify-content-center perguntas mt-4">

    <h1>Eu nunca!</h1>

    <div class="card mt-4">
      <div class="card-body">        
        <h5 class="card-title">
          <strong>Eu nunca </strong>
          {{perguntaEscolhida}}
        </h5>
      </div>
    </div>

    <div class="mt-3">
      <button type="button" class="btn btn-secondary btn-lg btn-proxima mt-5" (click)="alteraPergunta()">Próxima</button>
    </div>

  </div>

  <div *ngIf="showFinal" class="final">
    <h1>FIM DE JOGO</h1>
    <h2>Todos Bebem!</h2>
  </div>

</div>