h1, h2, h5 {
    color: white;
}

h1 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 40px;
}

.navbar-default {
    color: #FFFFFF;
    background-color: none;    
    display: flex;
    justify-content: center;    
}

.card-title {
    font-size: 2.5rem;
}

.card {
    background-color: #2B1949;
    width: 100%;    
    min-height: 300px;    
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-word;
    word-wrap: break-word;    
}

.final {
    display: flex;    
    justify-content: center;  
    flex-direction: column;  
    text-align: center;
    margin-top: 30%;
}

.perguntas {
    flex-direction: column;
    text-align: center;
}

.btn-proxima {
    background-color: #2B1949;
}
